@media screen and (max-width: 640px) {
    .main section.page2 {
        background: #555557;
        flex-direction: column;
    }

    .page_container2 {}

    .p2Top {
        max-height: 10%;
    }

    .p2Top img {
        height: 180px;
        margin-top: 20px;
    }

    .p2Text {
        flex-direction: column;
        height: 25%;
        display: flex;

    }

    .whoIam {
        height: 25%;
        width: 100%;
        
    }

    .whoIam h2 {
        color: #1B9DB7;
        text-align: left;
        margin-left: -16px;
    }

    .whoIam p {
        color: white;
        text-align: left;
        font-size: 75%;
        width: 100%;
        margin-left: -15px
        
        
    }

    .comptence {
        height: 50%;
        width: 100%;
    }

    .comptence h2 {
        text-align: center;
        color: #1B9DB7
    }
    .comptence p{
    text-align: center;
    font-size: 80%;
        

    }
    .footerTop{ 
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}
    .footerBack{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-flow: wrap;
    
    }
        a.button3 {
        padding: 0.3em 1.2em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 2em;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        background-color: #1B9DB7;
        transition: all 0.10s;

    }
}
@media screen and (max-width: 500px){
    .textOne {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40%;
        
}
    
.svgWrap {
    position: inherit;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 10%;}
    
    @media screen and (min-width: 600px){
        .styleMosaic{
            position: sticky;
        }
    }
